### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# Local History for Visual Studio Code
.history/
# Built Visual Studio Code Extensions
*.vsix
### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Temp Output Stuff ###
# Ignore the frames, but keep the folder they're in
frames/*.bmp
# Just in case there are non-bmp frames...
frames/*.*
# Ignore the output files the code generates
outputs/*.*

### C++ stuff ###
# Ignore the binaries
bin/*.exe 
